h1 {
    color: brown;
    font-size: 3em;
}

img {
    align-content: center;

}
p {
    background-color: white;
    font-size: 1.25em;
    text-align: left;  
}

#beginning {
    text-align: left;
    background-color: crimson;
}
#progress {
    font-family: cursive;
    background-color: rebeccapurple;
}

#result {
    font-family: sans-serif;
    background-color: cornflowerblue;
}

#pullquote {
    font-family: monospace;
    background-color: cadetblue
}